.faciliities-container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  /* padding: 0 15px; */
}

.faciliities-container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 270px;
  max-height: 320px;
  text-align: center;
  padding: 20px;
  margin: 10px 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
}
.faciliities-container:hover {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}
.faciliities-container:first-child {
  padding: 20px;
  margin-left: 0;
}
.faciliities-container:last-child {
  padding: 20px;
  margin-right: 0;
}

.facilities-icon {
  height: 65px;
  width: 65px;
  margin: 0 auto;
}
.facilities-icon img {
  height: 100%;
  width: 100%;
}
.facilities-text h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  color: #151875;
  font-family: "josefin sans", sans-serif;
}
.facilities-text p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
  font-family: "josefin sans", sans-serif;
}
