.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  margin-right: 10px;
  border-right: 1px solid rgb(225, 225, 225);
  margin-left: 10%;
}

.search-container {
  background-color: #14213d;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar {
  width: 80%;
  line-height: 20px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
}

.slit-in-vertical {
  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 20px 0px;
}
.pagination .not-selected {
  background-color: #14213d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.pagination .not-selected:hover {
  background-color: #fff;
  color: #14213d;
  box-shadow: 0px 0px 5px #14213d;
}
.pagination .selected {
  background-color: #fff;
  color: #14213d;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 0px 5px #14213d;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.category-active {
  background-color: #f0c14b;
  color: #000;
}

@media screen and (max-width: 480px) {
  .shop-container {
    display: block;
  }
  .product-container {
    margin-right: 10vw;
    margin-left: 10vw;
    border-right: none;
  }
  .cart-container {
    margin-right: 10vw;
    margin-left: 10vw;
  }
  .pagination {
    flex-wrap: wrap;
  }
  .pagination .not-selected {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
  }

  .pagination .selected {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
  }
}
