.navbar {
  background-color: black;
  line-height: 40px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 4px 16px;
  border-radius: 5px;
}
.navbar .nav-link:hover {
  color: black;
  background-color: white;
}
